
body {
  
  background-color: black;
  color: wheat;
  display: flex;
  justify-content: center;

 
  
  

}
  
  h2 {
  font-size: xx-large;
  text-align: center;
  border: 2px solid rgb(94, 150, 241);
;
}

.main-section {
  width:110em;
  height: 70em;
  
  display: grid;
  grid-template-columns:50% 50%;
}



